/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Navigation Bar Styles */
  nav {
    background-image; url ("images/01c3ca102181845.Y3JvcCwyNDI2LDE4OTcsMCwzNDI.png");
    display: relative;
    background-color: #20860e;
    padding: 10px;
    text-align: center;
  }

  #logo {
    width: 60px; /* Adjust as needed */
    height: auto;
    border-radius: 30px;
    margin: 10px;
  }
  
  nav p {
    padding: 12px;
    margin-top: 12px;
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  

  /* Hero Section Styles */
  .hero {
    background: linear-gradient(to right, #051d89, #8da439);
    color: white;
    padding: 50px 20px;
    text-align: center;
    margin: 0;
    padding: 0;
    
  }
  .hero h1 {
    padding-bottom: 12px;
  }
  .hero p {
    margin-bottom: 20px;
  }
  .hero button {
    margin:15px;
  }
  
  /* Services Section Styles */
  .services {
    background: rgba(76, 175, 80, 0.3);
    background-size: cover;
    background-position: center;
    background-position: 50%, 0 0;
    height: auto;
    padding: 20px;
    text-align: center;
    
    
  }
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0074D9;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
}
button a {
    text-decoration: none;
    color: aliceblue;
}
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hero {
      padding: 100px 50px;
    }
    #flagimg {
      background: linear-gradient(to right, #051d89, #8da439);
    }
    .responsive {
        width: 100%;
        height: auto;
        
      }
      nav {
        display: relative;
        background: linear-gradient(to right, #051d89, #8da439);
        width: 100%;
        height: auto;
      }

  }
  /* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #051d89, #8da439);
    color: white;
}


  
